body {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    background-color: #e9ebee;
}
a {
    text-decoration: none;
}
a:hover {
    color: #0a65a0 6px;
}
.head_fc {
    background: rgba(59, 89, 152, 1);
    background: -moz-linear-gradient(top, rgba(59, 89, 152, 1) 0%, rgba(60, 90, 153, 1) 50%, rgba(59, 89, 152, 1) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(59, 89, 152, 1)),
        color-stop(50%, rgba(60, 90, 153, 1)),
        color-stop(100%, rgba(59, 89, 152, 1))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(59, 89, 152, 1) 0%,
        rgba(60, 90, 153, 1) 50%,
        rgba(59, 89, 152, 1) 100%
    );
    background: -o-linear-gradient(top, rgba(59, 89, 152, 1) 0%, rgba(60, 90, 153, 1) 50%, rgba(59, 89, 152, 1) 100%);
    background: -ms-linear-gradient(top, rgba(59, 89, 152, 1) 0%, rgba(60, 90, 153, 1) 50%, rgba(59, 89, 152, 1) 100%);
    background: linear-gradient(
        to bottom,
        rgba(59, 89, 152, 1) 0%,
        rgba(60, 90, 153, 1) 50%,
        rgba(59, 89, 152, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#3b5998', GradientType=0 );
    width: 100%;
    position: relative;
    border-bottom: #133783 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wwrap_face {
    max-width: 850px;
    margin: 0 auto;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.fce_inner,
.but {
    display: inline-block;
    vertical-align: middle;
}
.fce_inner {
    max-width: 300px;
}
.fce_inner a {
    color: #fff;
}
.fce_inner a:hover {
    text-decoration: none;
}
.but {
    max-width: 100px;
}
.facebook_log {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 3em;
    font-weight: 500;
    max-width: 400px;
    padding-left: 10px;
}
.registered {
    background-color: #42b72a;
    padding: 7px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    display: inline;
    margin-bottom: 20px;
}
.block_login {
    position: absolute;
    right: 0;
    top: 20px;
    max-width: 480px;
    text-align: center;
}
.block_login {
    color: #90aad1;
}
.block_login a {
    color: #90aad1;
}
.block_login span {
    padding-left: 20px;
    color: #90aad1;
}
.input_login_h,
.input_password_h,
.but_face {
    max-width: 180px;
    display: inline-block;
    vertical-align: bottom;
    color: #fff;
    margin-bottom: 7px;
}
.input_login_h input,
.input_password_h input {
    border: solid 1px #133783;
}
.input_login_h h3,
.input_password_h h3 {
    line-height: 1.4;
    opacity: 0.9;
    text-align: left !important;
    margin: 0;
    font-size: 14px;
}
.input_password_h span {
    color: #90aad1;
}
.but_face {
    border: solid 1px #133783;
    background-color: #4267b2;
    font-size: 14px;
    padding: 2px 6px 2px 6px;
}
.but_face a {
    color: #fff;
}
.wrap {
    max-width: 850px;
    margin: 0 auto;
    position: relative;
}
.hed_wrap {
    background: #fff url("../img/_02.jpg") no-repeat;
    background-position: center;
    height: 315px;
    padding-bottom: 50px;
}
.hed_wrap img {
    position: absolute;
    bottom: 0;
    left: 16px;
    border: solid 1px #aeb2ac;
    border-radius: 3px;
}
.white_loj {
    height: 40px;
    width: 100%;
    background-color: #fff;
    position: relative;
}
.white_loj img {
    position: absolute;
    left: 16px;
    top: -140px;
    border: solid 1px #a9aea5;
}
.l_cont,
.t_cont,
.pht_part_r,
.comments {
    background-color: #fff;
    padding: 10px;
    border: solid 1px #d0d1d5;
    margin-bottom: 15px;
}
.row {
    margin-top: 13px;
}
.gradient {
    background-color: rgba(0, 0, 0, 0.12);
    /* IE9, iOS 3.2+ */
    background-image: url("../img/_02.jpg");
    background-image: -webkit-gradient(
        linear,
        0% 100%,
        0% 0%,
        color-stop(0, rgb(0, 0, 0)),
        color-stop(0.245, rgba(0, 0, 0, 0)),
        color-stop(1, rgba(0, 0, 0, 0))
    );
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(
        bottom,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 24.5%,
        rgba(0, 0, 0, 0) 100%
    );
    /* IE10+ */
    background-image: repeating-linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 24.5%, rgba(0, 0, 0, 0) 100%);
    background-image: -ms-repeating-linear-gradient(
        bottom,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 24.5%,
        rgba(0, 0, 0, 0) 100%
    );
}

/* IE8- CSS hack */
@media \0screen\, screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#ff000000",GradientType=0);
    }
}
.t_cont h3 {
    margin: 0;
}
.text_r_bl {
    float: left;

    padding-top: 10px;
}
.but_r_r {
    float: right;
    padding-top: 20px;
}
.but_r_r button {
    background-color: #f6f7f9;
    border: solid 1px #bdc7d8;
    font-size: 12px;
    font-weight: 600;
}
.clear {
    clear: both;
}
.pht_part_r {
    text-align: center;
    padding: 5px;
}
.pht_part_r h3 {
    margin: 0;
    font-size: 11px;
    color: #90949c;
    max-width: 180px;
    display: inline;
    text-align: left;
}
.pht_part_r span {
    font-size: 12px;
    display: inline;
    padding-left: 10px;
}
.pht_part_r img {
    display: inline;
    border: solid 1px #bdc7d8;
    width: 80px;
    height: 80px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 7px;
}
.pht_part_r img:last-child {
    padding-right: 0;
}
.dahed {
    border-top: solid 1px #bdc7d8;
}
.l_cont img {
    width: 100%;
}
.l_cont .autor_img {
    float: left;
    width: 110px;
    margin: 0 7px 7px 0;
}
.pht_foot {
    width: 250px;
    margin: 0 auto;
}
.comm {
    border-bottom: solid 1px #bdc7d8;
    padding: 5px 0 5px 0;
}
.comm:last-child {
    border-bottom: none;
}
.comm span {
    color: #337abd;
    text-decoration: underline;
    cursor: pointer;
}
.comments h2 {
    margin-top: 0;
}
.autor img {
    width: 80px;
    height: auto;
}
.autor,
.comm_txt {
    display: inline-block;
    vertical-align: top;
}
.comm_txt {
    max-width: 450px;
    padding-left: 5px;
}
.comm_txt img {
    width: 100%;
    padding-bottom: 5px;
}
.details {
    position: relative;
    background-color: white;
    text-align: center;
}
.ava {
    position: absolute;
    border: 4px solid gainsboro;
    border-radius: 4px;
    top:-159px;
    left: 12px;
    max-width: 200px;
   
}
.details a {
    padding: 10px 17px;
    color: #365899;
    font-weight: bold;
    display: inline-block;
    border-left: 1px solid #e9eaed;
}
.details a:nth-child(3) {
    color: black;
    cursor: default;
    text-decoration: none;
}
.details a + a:hover {
    text-decoration: none;
    background: #f6f7f9;
}
.details a:last-child {
    border-right: 1px solid #e9eaed;
    padding: 5px !important;
    padding-right: 31px !important;
}
.details a:last-child:after {
    content: "...";
    display: inline-block;
    padding: 5px 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 1px solid grey;
}
.details a i {
    width: 8px;
    height: 5px;
    background-position: -251px -245px;
    background-image: url("../img/e34gQrClXqY.png");
    background-size: auto;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}
.name {
    top: -57px;
    left: 220px;
    border: 0 !important;
    color: #fff !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    position: absolute;
}
a.name:hover {
    text-decoration: none;
}
.coverBorder {
    background: url("../img/black.png") bottom left repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.4);

    border: 1px solid #000;
    border-color: rgba(0, 0, 0, 0.25);
    border-top-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 850px;
}
img.background {
    width: 100%;
    box-sizing: border-box;
}
.invite,
.message {
    position: absolute;
    border: 0 !important;
    padding: 5px !important;
    background: white !important;
    color: #4b4f56 !important;
    font-size: 12px;
    border: 1px solid grey !important;
}
.invite {
    top: -50px;
    right: 170px;
}

@media screen and (max-width: 340px) {
    .invite {
        display: none !important;
    }
}
.invite span:before,
.message span:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("../img/Hemcq2oXEQa.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 -88px;
    vertical-align: middle;
    padding-right: 17px;
}
.message {
    top: -50px;
    right: 20px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
}
.message span:before {
    background-position: 0 -179px;
}
.message span.button:before {
    display: none;
}
.message button {
    margin-top: -6px;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-left: 6px;
    position: absolute;
    padding-top: 4px;
    padding-bottom: 4px;
}
.message button:hover {
    outline: none !important;
}
.wwrap_face input {
    border: 1px solid white;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 450px;
    width: 100%;
    padding-left: 10px;
}
form {
    position: relative;
    max-width: 450px;
    width: 100%;

    display: inline-block;
}
.wwrap_face form a {
    background: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -15px -45px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    width: 29px;
    height: 15px;
    top: 5px;
}
.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
    display: inline-block;
    background-clip: content-box;
    background-origin: content-box;
    height: 24px;

    width: 24px;
    opacity: 0.6;
}
a.ic {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}
/*
.divider{
    float:right;
    vertical-align: middle;
    display: inline-block;
        height: 25px;
    font-size: 25px;
    line-height: 20px;
    
}
*/
.ic1 {
    background-image: url("../img/KEdjlPmH4wo.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -248px;
}
.ic2 {
    background-image: url("../img/KEdjlPmH4wo.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -398px;
}
.ic3 {
    background-image: url("../img/KEdjlPmH4wo.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -348px;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 36px;
}
a.ic:hover .ic1,
a.ic:hover .ic2,
a.ic:hover .ic3,
a.ic:hover .ic4,
a.ic:hover .ic5 {
    opacity: 1;
}
.ic4 {
    width: 15px;
    height: 15px;
    background-image: url("../img/KEdjlPmH4wo.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -17px -677px;
    vertical-align: middle;
}
.ic5 {
    background-image: url("../img/KEdjlPmH4wo.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -18px -519px;

    height: 16px;
    opacity: 0.6;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    vertical-align: middle;
}
.white {
    background: white;
    box-sizing: border-box;
    padding: 10px 0px;
    margin: 10px 0;
    border: solid 1px #d0d1d5;
}
.row.white > div.col-md-12 {
    padding: 0 !important;
}
p.know {
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #e9eaed;
    margin: 0;
    padding-bottom: 10px;
}
a.green_button {
    padding: 5px 10px;
    background-color: #42b72a;
    border-color: #42b72a;
    color: white;
    font-size: 12px;
    font-weight: 600;
    float: right;
    margin-right: 15px;
}
a.green_button:hover {
    text-decoration: none;
    background-color: #36a420;
    border-color: #36a420;
}
a.green_button span:before {
    content: "";
    background-image: url("../img/Hemcq2oXEQa.png");
    background-size: auto;
    background-position: 0 -101px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    vertical-align: middle;
    width: 12px;
    margin-right: 6px;
}
.col-md-4 {
    padding-right: 0;
}
.t_cont > p span {
    font-size: 16px;
}
.t_cont > p span:before {
    content: "";
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-position: 0 0;
    background-image: url("../img/Hemcq2oXEQa.png");
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.t_cont:nth-child(2) > p span:before {
    background-image: url("../img/u6wrTIUV9Vv.png");
    background-position: -26px -131px;
}
.text_r_bl p {
    font-size: 12px;
}
.text_r_bl p span:before {
    content: "";
    background-image: url("../img/Hemcq2oXEQa.png");
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-top: 2px;
    opacity: 0.6;
    background-position: 0 -231px;
    margin-right: 10px;
    margin-left: 3px;
}
.text_r_bl p:nth-child(5) span:before,
.text_r_bl p:nth-child(6) span:before,
.text_r_bl p:nth-child(7) span:before,
.text_r_bl p:nth-child(8) span:before {
    background-position: 0 -218px;
}
.text_r_bl p:nth-child(9) span:before {
    background-position: 0 -153px;
}
.text_r_bl p:nth-child(10) span:before {
    background-position: 0 -166px;
}
.text_r_bl p:nth-child(11) span:before {
    background-position: 0 -192px;
}
.text_r_bl img {
    width: 100%;
}
.img_50 {
    display: inline-block;
    width: 49% !important;
}
.btn {
    display: inline-block;
    background-color: red;
    border-radius: 31px;
    -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    font-size: 27px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    height: 63px;
    width: 212px;
    -webkit-border-radius: 31px;
    text-align: center;
}
a.btn {
    text-decoration: none !important;
    color: white;
    display: block;
    margin: 20px auto;
}
.btn:hover {
    -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    background-color: darkred;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
}
.time {
    margin: -5px 0;
    font-size: 11px;
    color: gray;
}
.pic1,
.pic2 {
    max-width: 225px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.pic2 {
    max-width: 300px;
}
.autor img {
    max-width: 48px;
    width: 100%;
}
h3 {
    margin-top: 5px;
}
@media screen and (max-width: 991px) {
    .t_cont {
        display: none;
    }
    .l_cont,
    .comments,
    .face_block {
        max-width: 556px;
        margin: 0 auto;
    }
    .coverBorder {
        max-width: 556px;
    }
    .details > img {
        display: none;
    }
    .wrap {
        max-width: 556px;
    }
    .name {
        top: -61px;
        left: -10px;
    }
    .col-md-12 .coverBorder {
        display: none;
    }
    form {
        width: inherit;
    }
    a.green_button {
        display: block;
        max-width: 159px;
        margin-left: auto;
        float: none;
        margin-top: 20px;
    }
}
@media screen and (max-width: 560px) {
    .name {
        top: -174px;
    }
    .details a {
        border: 0;
    }
    .ava {
        max-width: 120px;
        top: -137px;
    }
}
@media screen and (max-width: 490px) {
    .name,
    .ic {
        display: none !important;
    }
}
.prod {
    max-width: 280px;
    display: block;
    margin: 0 auto;
}
.wrap .row .col-md-12:first-child {
}
@media screen and (max-width: 340px) {
    .ava {
        top: -105px;
    }
}
@media screen and (max-width: 991px) {
    .white {
        display: none !important;
    }
}
/*
.wrap .row .col-md-12:first-child a:hover{
    text-decoration: underline!important;
    cursor: pointer;
}*/
